<!-- <div class="page">
  <div class="page-header">
    <app-app-header></app-app-header>
  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
  <div class="page-footer">
    <app-app-footer></app-app-footer>
  </div>
</div> -->

<div>
  <div class="page-sidebar">
  <app-side-navbar (onToggleSidenav)="onToggleSidenav($event)" ></app-side-navbar>
  </div>
  <div class="body page-style" style="position: relative;" [ngClass]="class()">
    <app-app-header ></app-app-header>
      <router-outlet></router-outlet>
    <div class="page-footer">
      <app-app-footer></app-app-footer>
    </div>
  </div>
  
  </div>












