.body {
  height: 100vh;
  margin-left: 7rem;
  z-index: 0;
  position: relative;
  top: 0;
  /* transition: all .0.1s ease; */
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Additional styles for other screen sizes */
.body-trimmed {
  margin-left: 20rem;
}


.body-md-screen {
  width: 86%;
  margin-left: 14rem;
}


mat-drawer-container {
  /* position: absolute; */
  z-index: 1 !important;
  color: var(--mat-sidenav-content-text-color);
  background-color: var(--mat-sidenav-content-background-color);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}