<!-- <div *ngIf="this.Otp==true" class="main-div"> <div> <div class="text"> <div class="p-15"> <h2>Forgot Password</h2> </div> <form [formGroup]="forgetPassword" class="example-form" autocomplete="off" > <div> <div> <mat-label>New Password</mat-label> <mat-form-field style="width: 100%" appearance="outline"> <input matInput formControlName="newPassword" placeholder="Password" [type]="hide ? 'password' : 'text'" type="password" required /><mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon> </mat-form-field> </div> <div> <mat-label>Confirm Password</mat-label> <mat-form-field style="width: 100%" appearance="outline"> <input matInput formControlName="confirmPassword" placeholder="Password" [type]="hide ? 'password' : 'text'" type="password" required /><mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon> </mat-form-field> </div>
 <div class="example-button-row"> <button mat-raised-button class="login-button" style="background-color: rgb(64, 123, 255); color: white" (click)="forgotPassword()" > Submit </button> </div> </div> </form> </div> </div></div>
<div *ngIf="this.Otp==false"> <div class="p-15"> <h2>Forgot Your Password?</h2> </div> <div class="p-15"> <p>Enter your registered email below to</p> <p>receive password reset instructions</p> </div> <div class="p-16"> <mat-form-field appearance="outline"> <mat-label>Email address </mat-label> <input matInput placeholder="Enter email address" formControlName="emailaddress" required> </mat-form-field> </div> <div class="example-button-row"> <button mat-raised-button class="login-button" style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 150px;" (click)="otp()" > Send OTP </button>
</div> -->

<!-- Dynamic Form -->
<div class="box">
  <div class="container1"> 
    <mat-card style="height: 500px;" class="mat-card" layout-align="center center"> <mat-card-content
        style="width: 100%">
         <!-- Forget Password Form -->
        <form [formGroup]="forgetPassword" class="example-form" fxLayout="column" autocomplete="off" class="formGroup"
          *ngIf="showForm==false">
          <div>
            <div style="text-align: center;"> <a> <img width="300" height="100" class="center"
                  src="../../../../assets/images/logo.png" /> </a> </div>
            <div>
              <div>
                <p class="heading">Forgot Your Password?</p>

                <div class="data">
                  <p>Enter your registered Email ID below to</p>
                  <p>receive password reset instructions</p>
                </div>&nbsp;
                <div class="databtn">
                  <mat-form-field appearance="outline"> <mat-label>Email ID
                    </mat-label> <input matInput placeholder="Enter Email ID" formControlName="emailaddress"
                      required>
                      <mat-error
                    *ngIf="forgetPassword.controls['emailaddress'].touched && forgetPassword.controls['emailaddress'].hasError('required')"
                    class="help-block text-danger mat-error"> Email is required </mat-error>
                    <mat-error
                    *ngIf="forgetPassword.controls['emailaddress'].hasError('pattern')"
                    class="fontError help-block text-danger mat-error">Enter a Valid Email</mat-error>
                    </mat-form-field>
                </div>
                <div class="data"> <button mat-raised-button class="login-button" [disabled]="email_data !== null"
                    style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 150px;cursor: pointer;"
                    (click)="otpEmail()" class="btn" [disabled]="buttonClicked"> Send OTP </button> </div>
              </div>
            </div>
          </div>
        </form> <!-- OTP Form -->
        <form [formGroup]="otpPassword" class="example-form" fxLayout="column" autocomplete="off" class="formGroup"
          *ngIf="showOtpForm == true">
          <div>
            <div style="text-align: center;"> <a> <img width="300" height="100" class="center"
                  src="../../../../assets/images/logo.png" /> </a> </div>
            <div>
              <p class="heading">Enter the OTP</p>
              <div> 
                <div class="data">
                  <p>We have sent an One-Time Password to your email <strong>{{authdata}}</strong> to reset your password</p>
                </div>
                <div style="margin-top: 20px;">
                   <mat-form-field style="width: 50%;" appearance="outline"> <input
                      matInput type="text" formControlName="otp" maxlength="6" required /> 
                    </mat-form-field>
                   </div>
                   
                <div class="time" style="display: flex; justify-content: center;">
                  <p>Didn't get the code?</p>&nbsp; <div>
                    <p *ngIf="show_resend_code()" style="text-decoration: none; cursor: pointer;" (click)="ResendOtp()"><b>Resend code</b></p>
                  </div>
                </div>&nbsp;
                <p style="gap:4px" *ngIf="displayTimer">{{ display }}</p>
                           <div> 
                  <button mat-raised-button class="login-button"
                    style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 150px;margin-top: 20px;"
                    (click)="otp()" class="btn">
                    VERIFY OTP
                  </button>

                </div>
              </div>
            </div>
          </div>
        </form> <!-- Reset Password Form -->
        <form [formGroup]="resetPassword" class="example-form" fxLayout="column" autocomplete="off" class="formGroup"
          *ngIf="this.showResetForm == true">
          <div>
            <div style="text-align: center;"> <a> <img width="300" height="100" class="center"
                  src="../../../../assets/images/logo.png" /> </a> </div>
            <div>
              <p class="heading">Create new password</p>
              <div style="margin: 10px 0px 15px 0px;">
                <p>Your password must be different from previously used passwords</p>  
              </div>
              <div> 
                <mat-form-field style="width: 100%" appearance="outline"> 
                  <mat-label>New Password</mat-label> 
                  <input
                    matInput formControlName="newPassword" placeholder="Password" [type]="hide ? 'password' : 'text'"
                    type="password" minlength="8" maxlength="10" required /><mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" :
                    "visibility" }}</mat-icon> <mat-error
                    *ngIf="resetPassword.controls['newPassword'].touched && resetPassword.controls['newPassword'].hasError('required')"
                    class="help-block text-danger mat-error"> Password is required </mat-error> <mat-error
                    *ngIf="resetPassword.controls['newPassword'].touched && resetPassword.controls['newPassword'].hasError('pattern')"
                    class="fontError help-block text-danger mat-error"> Must contain 8 to 10 characters &
                    must have atleast one Uppercase & Lowercase alphabets, number & special characters. </mat-error>
                </mat-form-field> </div>
              <div> <mat-form-field
                  style="width: 100%;margin-top: 30px;" appearance="outline"> 
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword"
                    placeholder="Password" minlength="8" maxlength="10" [type]="hide ? 'password' : 'text'" type="password" required />
                    <mat-icon
                    matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    <mat-error
                    *ngIf="resetPassword.controls['confirmPassword'].touched && resetPassword.controls['confirmPassword'].hasError('required')"
                    class="help-block text-danger mat-error"> Password is required </mat-error>
                </mat-form-field>
                <mat-error style="text-align: left;margin-left: 16px;font-size: 11px;" *ngIf="resetPassword?.get('newPassword')?.value !== resetPassword?.get('confirmPassword')?.value">
                  Passwords do not match
                </mat-error>
              </div>
              <div style="margin-top: 27px;"> <button mat-raised-button class="login-button"
                  style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 180px;"
                  (click)="forgotPassword()" class="btn" [disabled]="!resetPassword.valid"> Reset
                  Password </button> </div>
            </div>
          </div>
        </form> <!-- twostepverify -->
        <form [formGroup]="twostepverify" class="example-form" fxLayout="column" autocomplete="off" class="formGroup"
          *ngIf="show2stepForm == true">
          <div>
            <div style="text-align: center;"> <a> <img width="300" height="100" class="center"
                  src="../../../../assets/images/logo.png" /> </a> </div>
            <div>
              <p>Two-step verification</p>
              <div>
                <div class="data">
                  <p>Thanks for keeping your account secure.</p><br>
                  <p> Check your or your mobile to get the </p><br>
                  <p>verification code.</p>
                </div>
                <div style="display: flex; gap: 10px; height: 40px;width:40px;margin-top: 20px;margin-left: 20px;">
                  <input type="text" formControlName="otp1" maxlength="1" style="width:40px;text-align: center;"
                    (keyup)="onDigitInput($event)" required /> <input type="text" formControlName="otp2" maxlength="1"
                    style="width:40px;text-align: center;" (keyup)="onDigitInput($event)" required /> <input type="text"
                    formControlName="otp3" maxlength="1" style="width:40px;text-align: center;"
                    (keyup)="onDigitInput($event)" required /> <input type="text" formControlName="otp4" maxlength="1"
                    style="width:40px;text-align: center;" (keyup)="onDigitInput($event)" required /> <input type="text"
                    formControlName="otp5" maxlength="1" style="width:40px;text-align: center;"
                    (keyup)="onDigitInput($event)" required /> <input type="text" formControlName="otp6" maxlength="1"
                    style="width:40px;text-align: center;" (keyup)="onDigitInput($event)" required />
                </div>
                <div class="time">
                  <p>Didn't get the code?</p>&nbsp;<p style="gap:5px" *ngIf="displayTimer">{{ display }}</p>
                </div>
                <div> <button mat-raised-button class="login-button"
                    style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 150px;margin-top: 20px;"
                    (click)="Twostep()" class="btn"> SIGN IN SECURELY </button> </div>
                <div *ngIf="resendOtp" (click)="start(2)">
                  <p style="text-decoration: none;margin-top: 20px;" (click)="Resendtwostep()"><b>Resend code</b></p>
                </div>
              </div>
            </div>
          </div>
        </form> <!-- Login Form -->
        <div *ngIf="this.Otp == true">
          <div>
            <div style="text-align: center;margin-top: -20px;"> <a> <img width="300" height="100" class="center"
                  src="../../../../assets/images/Vector.svg" /> </a> </div>
            <div>
              <div>
                <div class="data" style="margin:50px 0px 50px 0px;">
                  <p>Your password has been</p>
                  <p>successfully changed.</p>
                </div>
                <div style="margin-top: 20px;"> <button mat-raised-button class="login-button"
                    style="background-color: rgb(64, 123, 255); color: white;margin: 0 auto;width: 180px;"
                    (click)="login()"> Login </button> </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content> </mat-card> </div>
  <div class="container2">
    <div class="text">
      <div class="item bg-image"></div>
      <div class="item text-font">
        <div>Get Your Job Post<br> Hire Engineers On-Demand</div>
      </div>
      <div class="item bg-image"></div>
    </div>
  </div>
</div>

<!--Loader while api call  -->
<div *ngIf="show_spinner">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>
  </div>
